# Ignorer le dossier node_modules
node_modules/

# Ignorer le dossier elasticsearch-8.14.3
/elasticsearch-8.14.3

# Ignorer le dossier kibana-8.14.3
/kibana-8.14.3

# Ignorer le dossier logstash-8.14.3
/logstash-8.14.3

# Ignorer le fichier app.log
app.log
# Ignorer le fichier *.tar.gz
*.tar.gz
# Ignorer le fichier logstash.conf
logstash.conf
